[Unit]
Description=Run FCT-DTI-X-01 ansible-pull hourly

[Timer]
OnCalendar={{ ansible_pull_calendar }}
Persistent=true
RandomizedDelaySec=0
Unit=ansible-pull-fct-dti-x-01.service

[Install]
WantedBy=timers.target
