ANSIBLE_PULL_REPO={{ ansible_pull_repo_url }}
ANSIBLE_PULL_VERSION={{ ansible_pull_repo_version }}
ANSIBLE_PULL_CHECKOUT={{ ansible_pull_checkout }}
ANSIBLE_PULL_INVENTORY={{ ansible_pull_inventory }}
ANSIBLE_PULL_PLAYBOOK={{ ansible_pull_playbook }}
