ANSIBLE_PULL_REPO={{ ansible_pull_repo_url }}
ANSIBLE_PULL_VERSION={{ ansible_pull_repo_version }}
ANSIBLE_PULL_CHECKOUT={{ ansible_pull_checkout }}
ANSIBLE_PULL_INVENTORY={{ ansible_pull_inventory }}
ANSIBLE_PULL_PLAYBOOK={{ ansible_pull_playbook }}
{% if ansible_pull_deployment_telemetry_enabled | bool %}
SERVER_ID={{ server_id }}
GITHUB_DEPLOYMENT_TELEMETRY_ENABLED=true
GITHUB_DEPLOYMENT_REPO={{ ansible_pull_deployment_telemetry_repo_url }}
GITHUB_DEPLOYMENT_REF={{ ansible_pull_deployment_telemetry_ref }}
GITHUB_DEPLOYMENT_ENVIRONMENT={{ ansible_pull_deployment_telemetry_environment }}
GITHUB_DEPLOYMENT_ENVIRONMENT_URL={{ ansible_pull_deployment_telemetry_environment_url }}
GITHUB_DEPLOYMENT_LOG_URL={{ ansible_pull_deployment_telemetry_log_url | default('') }}
GITHUB_DEPLOYMENT_PRODUCTION_ENVIRONMENT={{ ansible_pull_deployment_telemetry_production_environment | ternary('true', 'false') }}
GITHUB_DEPLOYMENT_TRANSIENT_ENVIRONMENT={{ ansible_pull_deployment_telemetry_transient_environment | ternary('true', 'false') }}
GITHUB_DEPLOYMENT_TOKEN_HELPER={{ ansible_pull_deployment_telemetry_token_helper_path }}
GITHUB_DEPLOYMENT_APP_ID={{ ansible_pull_deployment_telemetry_app_id | default('') }}
GITHUB_DEPLOYMENT_APP_SLUG={{ ansible_pull_deployment_telemetry_app_slug | default('') }}
GITHUB_DEPLOYMENT_APP_INSTALLATION_ID={{ ansible_pull_deployment_telemetry_app_installation_id | default('') }}
GITHUB_DEPLOYMENT_APP_PRIVATE_KEY={{ ansible_pull_deployment_telemetry_app_private_key_path }}
{% endif %}
