
              ++
            ++ +++
         ++ +++++++
        ++ ++++++++++
      ++ +++++++++++++
    ++ ++++++++++++++++
   +++ ++++++++++++++ +++++       +++        +++++   +++    +++++
    ++ +++++++++++ +++++++++     +++++     +++++++++     +++++++++
   +++ +++++++++++ +++          +++ +++    +++       +++ +++
    ++ +++++++++++
   +++ ++++++++++  +++        +++     +++  +++       +++ +++
     ++ ++++++++   +++++++++ +++       +++ +++++++++ +++ +++++++++
      ++ ++++++    ++ +++++ +++         +++   +++++  +++    +++++
       ++  ++    +++
                    ++
                     ++
                      ++
                        ++++

 -------------------------------------------------------------
|                                                            |
| FCT-DTI-X-01                                               |
| Leia a documentação em:                                    |
| https://cacic.dev.br/docs/Recursos/Servidores/FCT-DTI-X-01 |
|                                                            |
| Edite a configuração em:                                   |
| https://github.com/cacic-fct/server-FCT-DTI-X-01           |
|                                                            |
 -------------------------------------------------------------

