*filter
:INPUT DROP [0:0]
:FORWARD ACCEPT [0:0]
:OUTPUT ACCEPT [0:0]

-A INPUT -i lo -j ACCEPT
{% for cidr in firewall_allowed_ssh_ipv4 %}
-A INPUT -s {{ cidr }} -p tcp -m tcp --dport 22 -j ACCEPT
{% endfor %}
{% for port in firewall_public_tcp_ports %}
-A INPUT -p tcp -m tcp --dport {{ port }} -j ACCEPT
{% endfor %}
{% for port in firewall_public_udp_ports %}
-A INPUT -p udp -m udp --dport {{ port }} -j ACCEPT
{% endfor %}
-A INPUT -m conntrack --ctstate RELATED,ESTABLISHED -j ACCEPT
{% for cidr in firewall_allowed_icmp_ipv4 %}
-A INPUT -s {{ cidr }} -p icmp -m icmp --icmp-type echo-request -j ACCEPT
{% endfor %}

COMMIT
